{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="window">
  <div class="window__header">
    <div class="window__title">Terminal</div>
  </div>
  <div class="window__content">
    <div class="line"><strong>Welcome to the terminal.</strong></div>
    <div class="line">Type 'help' to see available commands.</div>
    <div class="line">It's a terminal, nothing to see here, no hidden games or anything.</div>
    <div class="line">&gt;&nbsp;<span class="input"></span><span class="cursor"></span></div>
  </div>
</div>

<div class="bitcoin"></div>
{% endblock %}
